# COMSOL files
*.lock
*.mph
!single_small_gate_2deg_inalas_semi_ec.mph
!single_top_gate_2deg.mph

# vim files
*.swp
*.swo
tags

# data files
*.csv
*.txt
!requirements.txt
!ymatrix_50K_freq_vgall_230707.txt
!surface_density_50K_vgall_230618.txt


# Figure files
*.pdf*
*.ps
*.jpg
*.png
*.svg
*.eps

# Latex files
*.tex
*.bib
paper/*
